@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 255, 255, 255;
  --nav-bg: 100, 160, 255;
  --nav-text-color: 255, 255, 255;
  --nav-submenu-bg: 10, 20, 40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: 60, 60, 90;
    --nav-text-color: 255, 255, 255;
    --nav-bg: 10, 20, 40;
    --nav-submenu-bg: 10, 30, 59;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

nav {
  color: rgb(var(--nav-text-color));
  background: rgb(var(--nav-bg));
}

.nav-submenu {
  color: rgb(var(--nav-text-color));
  background: rgb(var(--nav-submenu-bg));
  position: absolute;
  min-width: 10rem;
  display: flex;
  bottom: -5.7rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 1rem;
}
